header {
  background: linear-gradient(180deg, #9c2a04 0%, #18181810 100%);
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dsmeta-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dsmeta-logo-container img {
  width: 170px;
  margin-left: 30px;
  padding-top: 20px;
}

.dsmeta-logo-container h1 {
  margin: auto;
  font-size: 26px;
}

.dsmeta-logo-container p {
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 25px;
}

.dsmeta-logo-container:hover a {
  color: #d43c0aa9;
  text-decoration: underline;
  transition: 400ms;
}
